@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  background-color: #cdcccc;
}
* {
  font-family: "Oswald";
}
h1 {
  color: whitesmoke;
  background-color: blue;
  border-radius: 25px;
  background: #73ad21;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  width: "";
  background-color: black;

  display: flex;
  justify-content: space-between;
  column-gap: 90;
  border-radius: 25px;
  background: #73ad21;
  padding: 20px;
}

li {
  float: left;
  font-size: xx-large;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: xx-large;
  text-decoration: none;
  color: whitesmoke;
}

li a:hover {
  border-radius: 25px;
  background: #333;
}

.first {
  display: flex;
  max-width: 100%;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

.side-image {
    width: 300px;
    overflow: hidden;
    position: relative;
}

.side-image img {
    width: 100%;
    height: auto;
    display: block;
}